.offer {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
  color: var(--white-001, #fff);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 23.4px */
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 256px;
}
.offer__image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.offer__title {
  font-size: 18px;
}
.offer__country,
.offer__time {
  display: none;
  font-size: 16px;
  font-weight: 400;
}
.offer__price {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-top: auto;
}
.offer--huge {
  max-width: 544px;
}
.offer--huge .offer__title {
  font-size: 24px;
  line-height: 130%;
}
.offer--huge .offer__country,
.offer--huge .offer__time {
  display: block;
}
@media (max-width: 520px) {
  .offer--huge {
    max-width: 256px;
  }
  .offer--huge .offer__country,
  .offer--huge .offer__time {
    display: none;
  }
  .offer--huge .offer__title {
    font-size: 18px;
    line-height: 130%;
  }
}
