@import url(offer.css);

.popular {
}
.popular__inner {
  padding: 100px 0;
}
.popular__inner::after {
  content: "";
  background: var(--grey-001, #d9d9de);
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 82px;
}

.popular__title {
  color: var(--black-001, #1f1e1e);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}
.popular__table {
  display: grid;
  grid-template:
    ". . huge-1 huge-1" 1fr
    ". . huge-1 huge-1" 1fr
    "huge-2 huge-2 . ." 1fr
    "huge-2 huge-2 . ." 1fr/
    1fr 1fr 1fr 1fr;
  gap: 32px;
  width: fit-content;
  margin: 0 auto;
}
.popular__offer--huge-1 {
  grid-area: huge-1;
}
.popular__offer--huge-2 {
  grid-area: huge-2;
}
@media (max-width: 1020px) {
  .popular__table {
    grid-template:
      ".  huge-1 huge-1" 1fr
      ".  huge-1 huge-1" 1fr
      "huge-2 huge-2  ." 1fr
      "huge-2 huge-2  ." 1fr/
      1fr 1fr 1fr;
  }
}
@media (max-width: 760px) {
  .popular__table {
    grid-template:
      ".      .     " 1fr
      "huge-1 huge-1" 1fr
      "huge-1 huge-1" 1fr
      ".      .     " 1fr
      ".      .     " 1fr
      "huge-2 huge-2" 1fr
      "huge-2 huge-2" 1fr/
      1fr 1fr;
  }
}
@media (max-width: 520px) {
  .popular__table {
    display: flex;
    flex-direction: column;
  }
}
